<h1>Knowledges</h1>
<div justify="flex-end" >
    <button mat-flat-button color="primary" routerLink="/knowledges/add">Add New Knowledge</button>
</div>
<mat-list role="list">
    <div class="task-item" *ngFor="let knowledge of knowledges">
        <mat-list-item role="listitem">
            <!-- <a href="#" [routerLink]="['/knowledges/view', knowledge.id]" class="btn btn-primary m-1">Edit</a> -->
            <a href="#" [routerLink]="['/knowledges/view', knowledge.id]" class="text-decoration-none">{{ knowledge.title }}</a>

            
        </mat-list-item>
    </div>
</mat-list>

