<h1>Knowledges</h1>
<div class="row" justify="flex-end" >
    <div class="col-md-4">
        <button mat-flat-button color="primary" routerLink="/knowledges/add">Add New Knowledge</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <input type="text" name="search" id="search" [(ngModel)]="searchText" class="form-control" placeholder="Search Knowledge">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div >
        <div class="card bg-c-lightblue">
            <div class="card-block">
                <div class="list-group" *ngFor="let knowledge of knowledges">
                    <a href="#" [routerLink]="['/knowledges/view', knowledge.id]" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h2>{{ knowledge.title }}</h2>
                        <small>{{knowledge.created_date}}</small>
                      </div>
                      <p class="mb-1"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<mat-list role="list">
    <div class="task-item" *ngFor="let knowledge of knowledges">
        <mat-list-item role="listitem">
            <a href="#" [routerLink]="['/knowledges/view', knowledge.id]" class="text-decoration-none">{{ knowledge.title }}</a>
        </mat-list-item>
    </div>
</mat-list> -->