<div class="form">
    <a href="#" routerLink="/rca" class="btn btn-secondary w-95">Back</a>&nbsp;
    <a href="#" [routerLink]="['/rca/edit', rca?.id]" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>&nbsp;
    <a href="#" [routerLink]="['/rca/delete', rca?.id]" class="btn btn-danger"><i class="fa fa-trash"></i></a>
	<div class="row">
			<div class="row form-group">
				<div class="col s12">
					<div class="h2">
						<div>
                            {{ rca?.title }}
                        </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="" style="white-space: pre-line">
						<div>Details: {{ rca?.details }}</div>
					</div>
					
				</div>
			</div>
	</div>
</div>

  
  