<h1>List of RCA </h1>
<div justify="flex-end" >
    <button mat-flat-button color="primary" routerLink="/rca/add">Add New RCA</button>
</div>
<br>
  <div class="row">
    <div >
        <div class="card bg-c-lightblue">
            <div class="card-block">
                <div class="list-group" *ngFor="let rca of rcas">
                    <a href="#" [routerLink]="['/rca/view', rca.id]" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h2>{{ rca.title }}</h2>
                        <small>{{rca.created_date}}</small>
                      </div>
                      <p class="mb-1"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>