<div class="row">
    <div class="row form-group">
        <div class="col s12 d-flex justify-content-center">
            <div class="h2 text-danger">
                <div>
                    Are you sure you want to delete "{{ contact?.name }}" ?
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-md-4 s-align f-size-20">Email:</div>
        <div class="col-md-4 f-size-20">{{ contact?.email }}</div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-md-4 s-align f-size-20">Phone:</div>
        <div class="col-md-4 f-size-20">{{ contact?.phone }}</div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-md-4 s-align f-size-20">Team:</div>
        <div class="col-md-4 f-size-20">{{ contact?.team }}</div>
    </div>
</div>

<div class="row mb-3 d-flex justify-content-center gap-2">
    <a href="#" [routerLink]="['/contacts/view', contact?.id]" class="btn btn-secondary col-md-2">No</a>
    <button class="btn btn-danger col-md-2" (click)="confirmDelete()" >Yes</button>
</div>

