<h1>Contacts </h1>
<div justify="flex-end" >
    <button mat-flat-button color="primary" routerLink="/contacts/add">Add New Contact</button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Team</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let contact of contacts">
        <td><a href="#" [routerLink]="['/contacts/view', contact.id]" class="text-decoration-none">{{ contact.name }}</a></td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.team }}</td>
      </tr>
    </tbody>
  </table>