<div class="form">
    <a href="#" routerLink="/templates" class="btn btn-secondary w-95">Back</a>&nbsp;
    <a href="#" [routerLink]="['/templates/edit', template?.id]" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>&nbsp;
    <a href="#" [routerLink]="['/templates/delete', template?.id]" class="btn btn-danger"><i class="fa fa-trash"></i></a>
	<div class="row">
			<div class="row form-group">
				<div class="col s12">
					<div class="h2">
						<div>
                            {{ template?.title }}
                        </div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12">
					<div class="" style="white-space: pre-line">
						<div class="h4">Description: </div>
						<div>{{ template?.description }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="" style="white-space: pre-line">
						<div class="h4">Details: </div>
						<div>{{ template?.content }}</div>
					</div>
				</div>
			</div>
	</div>
</div>

  
  