<div class="form">
	<div class="text-center f-size-20 p-3">{{ id ? 'Edit' : 'Add'}} Template</div>
	
	<div class="row">
		<form [formGroup]="form" (ngSubmit)="submitForm()" class="col s12">
			<div class="row form-group">
				<div class="col s12">
					<label for="title" class="s-form-lbl">Title</label> 
					<input type="text" class="form-control" name="title" formControlName="title" />
					<div class="alert-danger">
						<div *ngIf="form.controls['title'].touched && form.controls['title'].errors?.['required']">* Required</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<label for="description" class="s-form-lbl">Description</label>
					<input type="text" class="form-control" name="description" formControlName="description" />
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<label for="content" class="s-form-lbl">Details</label>
					<textarea class="form-control" id="content" rows="10" name="content" formControlName="content"></textarea>
				</div>
			</div>
			<br />

			<div class="row mb-3 d-flex justify-content-center gap-2">
				<a href="#" [routerLink]="id ? ['/templates/view/'+id] :  ['/templates/']" class="btn btn-secondary col-md-2">Cancel</a>
				<button class="btn btn-primary col-md-2" [disabled]="form.pristine || form.invalid">{{ id ? 'Save' : 'Create'}}</button>
			</div>
			<!-- <div class="alert alert-warning" *ngIf="errorMessage">Failed: {{ errorMessage }}</div> -->
		</form>
	</div>
</div>