<div class="form">
	<!-- <h5 class="text-center">{{ id ? 'Edit' : 'Add'}} Knowledge</h5> -->
    <!-- <a href="#" routerLink="/knowledges/edit/{{knowledge.id}}" class="btn btn-secondary w-100">Edit</a> -->
    <a href="#" routerLink="/servers" class="btn btn-secondary w-95">Back</a>&nbsp;
    <a href="#" [routerLink]="['/servers/edit', server?.id]" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>&nbsp;
    <a href="#" [routerLink]="['/servers/delete', server?.id]" class="btn btn-danger"><i class="fa fa-trash"></i></a>
	<div class="row">
		<div class="row form-group">
			<div class="col s12 d-flex justify-content-center">
				<div class="h2">
					<div>
						{{ server?.name }}
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center p-3">
			<div class="col-md-4 s-align f-size-20">Hostname:</div>
			<div class="col-md-4 f-size-20">{{ server?.hostname }}</div>
		</div>
		<div class="row justify-content-center p-3">
			<div class="col-md-4 s-align f-size-20">IP:</div>
			<div class="col-md-4 f-size-20">{{ server?.ip }}</div>
		</div>
		<div class="row justify-content-center p-3">
			<div class="col-md-4 s-align f-size-20">Type:</div>
			<div class="col-md-4 f-size-20">{{ server?.type }}</div>
		</div>
		<div class="row justify-content-center p-3">
			<div class="col-md-4 s-align f-size-20">Operating System:</div>
			<div class="col-md-4 f-size-20">{{ server?.os }}</div>
		</div>
	</div>
</div>

  
  