<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <a href="/"> KMS-100 </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/knowledge.jpg"
    />

    <h4 class="name">{{currentUser}}</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/knowledges">
      <mat-icon>library_books</mat-icon>
      <span>Knowledges</span>
    </button>
    <button mat-button class="menu-button" routerLink="/servers">
      <mat-icon>storage</mat-icon>
      <span>Servers</span>
    </button>
    <button mat-button class="menu-button" routerLink="/contacts">
      <mat-icon>person</mat-icon>
      <span>Contacts</span>
    </button>
    <button mat-button class="menu-button" routerLink="/templates">
      <mat-icon>collections_bookmark</mat-icon>
      <span>Templates</span>
    </button>
    <button mat-button class="menu-button" routerLink="/rca">
      <mat-icon>bug_report</mat-icon>
      <span>RCA</span>
    </button>
    

    <mat-divider></mat-divider>

    <a href="#" [routerLink]="['/logout']">Logout</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>