/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.f-size-20 { font-size: 20px;}
.align-right { text-align: right; }
.s-form-lbl {
    font-size: 17px;
    padding-top: 7px;
}

.s-align {
    text-align: right; 
}
@media (max-width: 768px) {
    .s-align {
      text-align: left;
    }
  }
